/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.navbar-pills li a:hover {
	border-radius: 8px;
}
.navbar-right {
float: right !important;
margin-right: 8px;
}
.inline {
	display: inline !important;
}

#container {
	margin-left: 6px;
	background-color: white;
	padding: 20px;
}

body {
	//width:960px;
	height:100%;
	margin:0 auto;


}

body {
	background-color: #ccc;
}

#hotArtistBox{
	
}
#topSongsBox {
	
}

#artistInfo {

}

div.hidden { display: none; }